@model GameLogsMVC.Models.ViewData.TeamsView

<h2>NCAAF Teams</h2>
<ul style="list-style: none;">
    @foreach (var team in Model.teams)
    {
        <li style="margin-bottom: 10px;">
            <div style="display: inline-block; vertical-align: top;">
                <img src="@team.Url" alt="@team.Name Logo" style="width: 50px; height: 50px;" />
            </div>
            <div style="display: inline-block; margin-left: 5px;">
                <a style="display: block;" href="@Url.Action("Index", "Team", new {league = "NCAAF", teamID = @team.ID.Replace("NCAAF", "")})">@team.Name</a>
                <a style="font-size: 12px"href="@Url.Action("Schedule", "Home", new { league = "NCAAF", team = team.Name, id = team.ID, dates = "2024" })">Schedule</a>
            </div>
            <br />
        </li>
    }
</ul>
