@model GameLogsMVC.Models.ViewData.StatsView

<!DOCTYPE html>
<html>
<head>
    <title>Game Stats</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        h3 {
            margin-top: 20px;
        }
        #leagueSelect {
            margin-bottom: 10px;
        }

        #userSummary {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            padding: 10px;
        }

            #userSummary h2,
            #userSummary h3 {
                margin: 0;
            }

        #userNavBar {
            background-color: lightgray;
            display: flex;
            justify-content: space-around;
            margin: auto;
            padding: 10px;
        }

        .navbarUL {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            max-width: 100%;
        }

        .nav-item {
            display: inline-block;
            margin-right: 2%;
            max-width: 14.67%;
            font-size: 15px;
        }

        .nav-link {
            text-decoration: none;
            color: #333;
        }

        @@media (max-width: 750px) {
            .nav-item {
                font-size: 9px;
                text-align: left;
            }

            h2 {
                font-size: 11px;
            }

            h3 {
                font-size: 10px;
            }

            h4, th, td {
                font-size: 9px;
            }
        }
    </style>
</head>
<body>

    <div id="userNavBar" class="navbar">
        <ul class="navbarUL">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index" asp-route-userName="@Model.User">@Model.User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Log" asp-route-userName="@Model.User" asp-route-league="MLB">Log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" style="text-decoration: underline;" asp-area="" asp-controller="User" asp-action="Stats" asp-route-userName="@Model.User" asp-route-league="MLB">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Badges" asp-route-userName="@Model.User">Badges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Followers" asp-route-userName="@Model.User">Followers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Following" asp-route-userName="@Model.User">Following</a>
            </li>
        </ul>
    </div>

    <select id="leagueSelect" onchange="ChangeLeague(this.value)">
        <option value="MLB" selected="@(Model.League == "MLB")">MLB</option>
        <option value="NBA" selected="@(Model.League == "NBA")">NBA</option>
        <option value="NCAAF" selected="@(Model.League == "NCAAF")">NCAAF</option>
        <option value="NFL" selected="@(Model.League == "NFL")">NFL</option>
        <option value="NCAAB" selected="@(Model.League == "NCAAB")">NCAAB</option>
        <option value="Favorites" selected="@(Model.League == "Favorites")">Favorites</option>
    </select>

    <select id="viewSelect" onchange="ChangeView(this.value)">
        <option value="Watched">Watched</option>
        <option value="Attended">Attended</option>
    </select>

    <input type="hidden" id="changeView" name="changeView" value="Watched" />

    <div id="statsWatched" style="display:block;">
        @if(Model.StatsWatched.Games != 0)
        {
                <h4>Total Games Seen: @Model.StatsWatched.Games</h4>
                <h4>Total Teams Seen: @Model.StatsWatched.TeamsSeen</h4>
                <h4>Total Stadiums Seen: @Model.StatsWatched.TeamsVisited</h4>

                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Most Seen Player</th>
                        </tr>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var k in Model.StatsWatched.Player.Keys)
                        {
                            <tr>
                                <td>@(Model.StatsWatched.Player.Keys.ToList().IndexOf(k) + 1)</td>
                                <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = k})">@Model.StatsWatched.Player[k][0]</a></td>
                                <td>@Model.StatsWatched.Player[k][1]</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.League == "MLB")
                {
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">Most Seen Pitcher</th>
                            </tr>
                            <tr>
                                <th>Rank</th>
                                <th>Pitcher</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var k in Model.StatsWatched.Pitcher.Keys)
                            {
                                <tr>
                                    <td>@(Model.StatsWatched.Pitcher.Keys.ToList().IndexOf(k) + 1)</td>
                                    <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = k})">@Model.StatsWatched.Pitcher[k][0]</a></td>
                                    <td>@Model.StatsWatched.Pitcher[k][1]</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Home</th>
                            <th>Away</th>
                            <th>Score</th>
                            <th>Stat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.StatsWatched.GameStats.Count(); i++)
                        {
                            <tr>
                                @if (i == 0 && Model.League == "MLB")
                                {
                                    <td>Longest Game Attended</td>
                                }
                                else if (i == 1 && Model.League == "MLB")
                                {
                                    <td>Shortest Game Attended</td>
                                }
                                else if (i == 2 || i == 0)
                                {
                                    <td>Highest Scoring Game Attended</td>
                                }
                                else
                                {
                                    <td>Highest Impact Play</td>
                                }
                                <td>@Model.StatsWatched.GameStats[i].Date</td>
                                <td><a style="display: block;" href="@Url.Action("Index", "Team", new {league = @Model.StatsWatched.GameStats[i].League, teamID = @Model.StatsWatched.GameStats[i].HomeTeamID.Replace(Model.StatsWatched.GameStats[i].League, "")})">@Model.StatsWatched.GameStats[i].Home</a></td>
                                <td><a style="display: block;" href="@Url.Action("Index", "Team", new {league = @Model.StatsWatched.GameStats[i].League, teamID = @Model.StatsWatched.GameStats[i].AwayTeamID.Replace(Model.StatsWatched.GameStats[i].League, "")})">@Model.StatsWatched.GameStats[i].Away</a></td>
                                <td><a asp-area="" asp-controller="Home" asp-action="BoxScore" asp-route-id="@Model.StatsWatched.GameStats[i].ID" asp-route-league="@Model.League">@Model.StatsWatched.GameStats[i].Score</a> </td>
                                @if (i == 0 && Model.League == "MLB")
                                {
                                    <td>@Model.StatsWatched.GameStats[i].Duration</td>
                                }
                                else if (i == 1 && Model.League == "MLB")
                                {
                                    <td>@Model.StatsWatched.GameStats[i].Duration</td>
                                }
                                else if (i == 2 || i == 0)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@Model.StatsWatched.GameStats[i].ImpactPlay</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            <h3>Single Game Stats</h3>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>High Stat</th>
                        <th>Player</th>
                        <th>Date</th>
                        <th>Team</th>
                        <th>Opponent</th>
                        <th>Total</th>
                    </tr>                  
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.StatsWatched.SingleStats.Count(); i++)
                    {
                        <tr>
                            @if (Model.League == "MLB")
                            {
                                switch (i)
                                {
                                    case 0:
                                    <td>Most Hits</td>
                                        break;
                                    case 1:
                                    <td>Most Runs</td>
                                        break;
                                    case 2:
                                    <td>Most Home Runs</td>
                                        break;
                                    case 3:
                                    <td>Most RBIs</td>
                                        break;
                                    case 4:
                                    <td>Most Innings Pitched</td>
                                        break;
                                    case 5:
                                    <td>Most Strikeouts</td>
                                        break;
                                }
                            }
                            else if (Model.League == "NBA" || Model.League == "NCAAB")
                            {
                                switch (i)
                                {
                                    case 0:
                                    <td>Most Points</td>
                                        break;
                                    case 1:
                                    <td>Most Rebounds</td>
                                        break;
                                    case 2:
                                    <td>Most Assists</td>
                                        break;
                                    case 3:
                                    <td>Most Steals</td>
                                        break;
                                    case 4:
                                    <td>Most Blocks</td>
                                    break;
                                }
                            }
                            else if (Model.League == "NFL" || Model.League == "NCAAF")
                            {
                                switch (i)
                                {
                                    case 0:
                                    <td>Most Passing Yards</td>
                                        break;
                                    case 1:
                                    <td>Most Rushing Yards</td>
                                        break;
                                    case 2:
                                    <td>Longest Rush</td>
                                        break;
                                    case 3:
                                    <td>Most Receiving Yards</td>
                                        break;
                                    case 4:
                                    <td>Longest Reception</td>
                                        break;
                                    case 5:
                                    <td>Longest Field Goal</td>
                                        break;
                                }
                            }

                            @for (int j = 4; j < Model.StatsWatched.SingleStats[i].FirstOrDefault().Key.Count(); j++)
                            {
                                @if (j == 4)
                                {
                                    <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = @Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[3]})">@Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else if (j == 5)
                                {
                                    <td><a href="@Url.Action("BoxScore", "Home", new { id = @Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[0], league = @Model.League})">@Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else if (j == 6)
                                {
                                    <td><a href="@Url.Action("Index", "Team", new {league = @Model.League, teamID = @Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[1].Replace(Model.League, "")})">@Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else if (j == 7)
                                {
                                    <td><a href="@Url.Action("Index", "Team", new {league = @Model.League, teamID = @Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[2].Replace(Model.League, "")})">@Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else
                                {
                                    <td>@Model.StatsWatched.SingleStats[i].FirstOrDefault().Key[j]</td>
                                }                           
                            }
                            <td>@Model.StatsWatched.SingleStats[i].FirstOrDefault().Value</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h3>Total Stats</h3>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>High Stat</th>
                        <th>Player</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.StatsWatched.AccStats.Count(); i++)
                    {
                        <tr>
                            @if (Model.League == "MLB")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Hits</td>
                                        break;
                                    case 1:
                                        <td>Most Runs</td>
                                        break;
                                    case 2:
                                        <td>Most Home Runs</td>
                                        break;
                                    case 3:
                                        <td>Most RBIs</td>
                                        break;
                                    case 4:
                                        <td>Most Innings Pitched</td>
                                        break;
                                    case 5:
                                        <td>Most Strikeouts</td>
                                        break;
                                }
                            }
                            else if (Model.League == "NBA" || Model.League == "NCAAB")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Points</td>
                                        break;
                                    case 1:
                                        <td>Most Rebounds</td>
                                        break;
                                    case 2:
                                        <td>Most Assists</td>
                                        break;
                                    case 3:
                                        <td>Most Steals</td>
                                        break;
                                    case 4:
                                        <td>Most Blocks</td>
                                        break;
                                }
                            }
                            else if (Model.League == "NFL" || Model.League == "NCAAF")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Passing Yards</td>
                                        break;
                                    case 1:
                                        <td>Most Passing TDs</td>
                                        break;
                                    case 2:
                                        <td>Most Rushing Yards</td>
                                        break;
                                    case 3:
                                        <td>Most Rushing TDs</td>
                                        break;
                                    case 4:
                                        <td>Most Receiving Yards</td>
                                        break;
                                    case 5:
                                        <td>Most Receiving TDs</td>
                                        break;
                                    case 6:
                                        <td>Most Interceptions</td>
                                        break;
                                    case 7:
                                        <td>Most Tackles</td>
                                        break;
                                    case 8:
                                        <td>Most Sacks</td>
                                        break;
                                    case 9:
                                        <td>Most Field Goals</td>
                                        break;
                                }
                            }
                        
                            @if (Model.StatsWatched.AccStats[i].FirstOrDefault().Key != null)
                            {
                                <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = @Model.StatsWatched.AccStats[i].FirstOrDefault().Key[1]})">@Model.StatsWatched.AccStats[i].FirstOrDefault().Key[0]</a></td>
                                <td>@Model.StatsWatched.AccStats[i].FirstOrDefault().Value</td>
                            }
                            else
                            {
                                <td>N/A</td>
                                <td>N/A</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>   
        }    
        else
        {
            @if(Model.League == "Favorites")
            {
                <h2>Favorite Team Total Games</h2>
                @foreach (var teamDict in Model.StatsWatched.FavsCount)
                {
                    <div>
                        @foreach (var kvp in teamDict)
                        {
                            <h4>@kvp.Key: @kvp.Value[0], @kvp.Value[1]</h4>
                        }
                    </div>
                }
                <h2>Favorite Team W-L Record</h2>
                @foreach (var teamDict in Model.StatsWatched.FavsRecord)
                {
                    <div>
                        @foreach (var kvp in teamDict)
                        {
                            <h4>@kvp.Key: @kvp.Value[0], @kvp.Value[1]</h4>
                        }
                    </div>
                }

            }
            else
            {
                <h4>No Games Attended</h4>
            }
        
        }
    </div>

    <div id="statsAttended" style="display:none;">
        @if (Model.StatsAttended.Games != 0)
        {
            <h4>Total Games Attended: @Model.StatsAttended.Games</h4>
            <h4>Total Teams Seen: @Model.StatsAttended.TeamsSeen</h4>
            <h4>Total Teams Visited: @Model.StatsAttended.TeamsVisited</h4>

            <table>
                <thead>
                    <tr>
                        <th colspan="3">Most Seen Player</th>
                    </tr>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var k in Model.StatsAttended.Player.Keys)
                    {
                        <tr>
                            <td>@(Model.StatsAttended.Player.Keys.ToList().IndexOf(k) + 1)</td>
                            <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = k})">@Model.StatsAttended.Player[k][0]</a></td>
                            <td>@Model.StatsAttended.Player[k][1]</td>
                        </tr>
                    }
                </tbody>
            </table>

            @if (Model.League == "MLB")
            {
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Most Seen Pitcher</th>
                        </tr>
                        <tr>
                            <th>Rank</th>
                            <th>Pitcher</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var k in Model.StatsAttended.Pitcher.Keys)
                        {
                            <tr>
                                <td>@(Model.StatsAttended.Pitcher.Keys.ToList().IndexOf(k) + 1)</td>
                                <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = k})">@Model.StatsAttended.Pitcher[k][0]</a></td>
                                <td>@Model.StatsAttended.Pitcher[k][1]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Home</th>
                        <th>Away</th>
                        <th>Score</th>
                        <th>Stat</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.StatsAttended.GameStats.Count(); i++)
                    {
                        <tr>
                            @if (i == 0 && Model.League == "MLB")
                            {
                                <td>Longest Game Attended</td>
                            }
                            else if (i == 1 && Model.League == "MLB")
                            {
                                <td>Shortest Game Attended</td>
                            }
                            else if (i == 2 || i == 0)
                            {
                                <td>Highest Scoring Game Attended</td>
                            }
                            else
                            {
                                <td>Highest Impact Play</td>
                            }
                            <td>@Model.StatsAttended.GameStats[i].Date</td>
                            <td><a style="display: block;" href="@Url.Action("Index", "Team", new {league = @Model.StatsAttended.GameStats[i].League, teamID = @Model.StatsAttended.GameStats[i].HomeTeamID.Replace(Model.StatsAttended.GameStats[i].League, "")})">@Model.StatsAttended.GameStats[i].Home</a></td>
                            <td><a style="display: block;" href="@Url.Action("Index", "Team", new {league = @Model.StatsAttended.GameStats[i].League, teamID = @Model.StatsAttended.GameStats[i].AwayTeamID.Replace(Model.StatsAttended.GameStats[i].League, "")})">@Model.StatsAttended.GameStats[i].Away</a></td>
                            <td><a asp-area="" asp-controller="Home" asp-action="BoxScore" asp-route-id="@Model.StatsAttended.GameStats[i].ID" asp-route-league="@Model.League">@Model.StatsAttended.GameStats[i].Score</a> </td>
                            @if (i == 0 && Model.League == "MLB")
                            {
                                <td>@Model.StatsAttended.GameStats[i].Duration</td>
                            }
                            else if (i == 1 && Model.League == "MLB")
                            {
                                <td>@Model.StatsAttended.GameStats[i].Duration</td>
                            }
                            else if (i == 2 || i == 0)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@Model.StatsAttended.GameStats[i].ImpactPlay</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <h3>Single Game Stats</h3>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>High Stat</th>
                        <th>Player</th>
                        <th>Date</th>
                        <th>Team</th>
                        <th>Opponent</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.StatsAttended.SingleStats.Count(); i++)
                    {
                        <tr>
                            @if (Model.League == "MLB")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Hits</td>
                                        break;
                                    case 1:
                                        <td>Most Runs</td>
                                        break;
                                    case 2:
                                        <td>Most Home Runs</td>
                                        break;
                                    case 3:
                                        <td>Most RBIs</td>
                                        break;
                                    case 4:
                                        <td>Most Innings Pitched</td>
                                        break;
                                    case 5:
                                        <td>Most Strikeouts</td>
                                        break;
                                }
                            }
                            else if (Model.League == "NBA" || Model.League == "NCAAB")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Points</td>
                                        break;
                                    case 1:
                                        <td>Most Rebounds</td>
                                        break;
                                    case 2:
                                        <td>Most Assists</td>
                                        break;
                                    case 3:
                                        <td>Most Steals</td>
                                        break;
                                    case 4:
                                        <td>Most Blocks</td>
                                        break;
                                }
                            }
                            else if (Model.League == "NFL" || Model.League == "NCAAF")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Passing Yards</td>
                                        break;
                                    case 1:
                                        <td>Most Rushing Yards</td>
                                        break;
                                    case 2:
                                        <td>Longest Rush</td>
                                        break;
                                    case 3:
                                        <td>Most Receiving Yards</td>
                                        break;
                                    case 4:
                                        <td>Longest Reception</td>
                                        break;
                                    case 5:
                                        <td>Longest Field Goal</td>
                                        break;
                                }
                            }

                            @for (int j = 4; j < Model.StatsAttended.SingleStats[i].FirstOrDefault().Key.Count(); j++)
                            {
                                @if (j == 4)
                                {
                                    <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = @Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[3]})">@Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else if (j == 5)
                                {
                                    <td><a href="@Url.Action("BoxScore", "Home", new { id = @Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[0], league = @Model.League})">@Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else if (j == 6)
                                {
                                    <td><a href="@Url.Action("Index", "Team", new {league = @Model.League, teamID = @Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[1].Replace(Model.League, "")})">@Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else if (j == 7)
                                {
                                    <td><a href="@Url.Action("Index", "Team", new {league = @Model.League, teamID = @Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[2].Replace(Model.League, "")})">@Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[j]</a></td>
                                }
                                else
                                {
                                    <td>@Model.StatsAttended.SingleStats[i].FirstOrDefault().Key[j]</td>
                                }
                            }
                            <td>@Model.StatsAttended.SingleStats[i].FirstOrDefault().Value</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h3>Total Stats</h3>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>High Stat</th>
                        <th>Player</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.StatsAttended.AccStats.Count(); i++)
                    {
                        <tr>
                            @if (Model.League == "MLB")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Hits</td>
                                        break;
                                    case 1:
                                        <td>Most Runs</td>
                                        break;
                                    case 2:
                                        <td>Most Home Runs</td>
                                        break;
                                    case 3:
                                        <td>Most RBIs</td>
                                        break;
                                    case 4:
                                        <td>Most Innings Pitched</td>
                                        break;
                                    case 5:
                                        <td>Most Strikeouts</td>
                                        break;
                                }
                            }
                            else if (Model.League == "NBA" || Model.League == "NCAAB")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Points</td>
                                        break;
                                    case 1:
                                        <td>Most Rebounds</td>
                                        break;
                                    case 2:
                                        <td>Most Assists</td>
                                        break;
                                    case 3:
                                        <td>Most Steals</td>
                                        break;
                                    case 4:
                                        <td>Most Blocks</td>
                                        break;
                                }
                            }
                            else if (Model.League == "NFL" || Model.League == "NCAAF")
                            {
                                switch (i)
                                {
                                    case 0:
                                        <td>Most Passing Yards</td>
                                        break;
                                    case 1:
                                        <td>Most Passing TDs</td>
                                        break;
                                    case 2:
                                        <td>Most Rushing Yards</td>
                                        break;
                                    case 3:
                                        <td>Most Rushing TDs</td>
                                        break;
                                    case 4:
                                        <td>Most Receiving Yards</td>
                                        break;
                                    case 5:
                                        <td>Most Receiving TDs</td>
                                        break;
                                    case 6:
                                        <td>Most Interceptions</td>
                                        break;
                                    case 7:
                                        <td>Most Tackles</td>
                                        break;
                                    case 8:
                                        <td>Most Sacks</td>
                                        break;
                                    case 9:
                                        <td>Most Field Goals</td>
                                        break;
                                }
                            }

                            @if (Model.StatsAttended.AccStats[i].FirstOrDefault().Key != null)
                            {
                                <td><a href="@Url.Action("Index", "Player", new { league = Model.League, playerID = @Model.StatsAttended.AccStats[i].FirstOrDefault().Key[1]})">@Model.StatsAttended.AccStats[i].FirstOrDefault().Key[0]</a></td>
                                <td>@Model.StatsAttended.AccStats[i].FirstOrDefault().Value</td>
                            }
                            else
                            {
                                <td>N/A</td>
                                <td>N/A</td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            @if (Model.League == "Favorites")
            {
                <h2>Favorite Team Total Games</h2>
                @foreach (var teamDict in Model.StatsAttended.FavsCount)
                {
                    <div>
                        @foreach (var kvp in teamDict)
                        {
                            <h4>@kvp.Key: @kvp.Value[0], @kvp.Value[1]</h4>
                        }
                    </div>
                }
                <h2>Favorite Team W-L Record</h2>
                @foreach (var teamDict in Model.StatsAttended.FavsRecord)
                {
                    <div>
                        @foreach (var kvp in teamDict)
                        {
                            <h4>@kvp.Key: @kvp.Value[0], @kvp.Value[1]</h4>
                        }
                    </div>
                }

            }
            else
            {
                <h4>No Games Attended</h4>
            }

        }
    </div>


<script>
    function ChangeLeague(selectedLeague) {
        var newUrl = "/User/Stats?userName=" + encodeURIComponent('@Model.User') + "&league=" + encodeURIComponent(selectedLeague);
        window.location.href = newUrl;
    }

    function ChangeView(selectedView){
        if (selectedView === "Watched") 
        {
            document.getElementById("statsWatched").style.display = "block";
            document.getElementById("statsAttended").style.display = "none";
        } 
        else if (selectedView === "Attended") 
        {
            document.getElementById("statsWatched").style.display = "none";
            document.getElementById("statsAttended").style.display = "block";
        }
    }
</script>

</body>
</html>
